<% content_for :head do %>

<title>Gabblin: Our Vision</title>
<meta property="og:site_name" content="gabblin">
<meta property="og:title" content="Gabblin: Our Vision">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72599891-1', 'auto');
  ga('send', 'pageview');
</script>
 
<% end %>
     
<%= render 'shared/navbar' %>

<div class="container-fluid" style="margin-top: 3%">
  
 <div class="row" style="text-align: center"> 
  <%= render :partial => 'shared/visionclicked' %>
 </div>
  
      <div class="row" style="text-align: center; margin-top: 3%">
            <div class="col-xs-12">
                <h3 class="encyclopedia">Our Vision</h3> 
            </div>
      </div>
      <div class="row questionrow" style="margin-top: 2%">
          <div class="col-xs-12">
            <h4 class="encyclopedia">What is the need?</h4>
            <p class="encyclopedia">It's majorly a behavioural problem. As we scroll through our news feeds of any of the major social networks, we realize that most of the people post stuff that they feel will appeal to someone or improve their social status in some way or the other. We're in a constant state of fear, as we continuously worry about how people will perceive us. For example, a friend of mine posted a status a year back that he was watching 'Humshakals', a 2014 Bollywood movie. It so happens that the movie was a dud, and what we saw was that a group of my friend's friends started taking his case on the social media platform for watching the movie. Such an incident would have stopped so many people from posting similar status messages, worrying about the consequences. We believe that the quality of our conversations becomes better when we embrace our true inner selves. Also, we feel that we as a society have started taking ourselves too seriously, why not spread light, joy and optimism instead?</p>
          </div>
      </div>
      <div class="row questionrow" style="margin-top: 2%">
          <div class="col-xs-12">
            <h4 class="encyclopedia">What is the solution?</h4>
            <p class="encyclopedia"> We want to provide a social platform that would facilitate high quality conversations without the baggage of judging and getting judged. The solution is simple and elegant. We will require every user to register using a simple user name. Since, the user name will not necessarily reveal a user's identity completely, no one in the group will be aware of the other users. Also, we plan to keep the community free from the 'friendship' or 'follow' system. So, we are practically imagining a group of intelligent likeminded people talking to each other. We feel such a scenario would encourage our true inner selves to stand out. Our true inner selves tend to be less serious and pragmatic: we are more fun than what we think we are. We, therefore, plan to give birth to an informal fun loving community.</p>
          </div>
        </div>
</div>  
 