
<% content_for :head do %>
  
<title>Please Activate Your Account</title>

<meta name="description" content= "'Gabblin' is a collection of the best communities on the internet. Connect with like minded people and share your opinions, interests and ideas.">
<meta property="og:site_name" content="gabblin">

<% end %>

<body style="background-color: #545454">

<%= render :partial => 'shared/navbarsignup' %>

<div class="container-fluid">

<div class="row tagline">

<div class="col-sm-6 col-sm-offset-3" style="text-align: center">

<h4 class="tagtext" style="color: white">Please check your mail and activate your account.</h4>

</div>

</div>

</div>

<%= render :partial => 'shared/footersign' %>

</body>