<%= link_to(comment_givecommentcoins_path(c), remote: true, method: :put) do %>
  
  <div class="signincoin">
        <%= image_tag("coinsunclicked.png", :class => "fitimg") %>
   </div>                     

<% end %>
                    