<div id="searchbuttons">
<div class="btn-group" role="group">
  <%= link_to encyclopedia_vision_path, :class => "btn searchlight" do %>
  Vision
  <% end %>
  <%= link_to encyclopedia_rules_path, :class => "btn searchlight" do %>
  Rules
  <% end %>
  <%= link_to encyclopedia_careers_path, :class => "btn searchlight" do %>
  Careers
  <% end %>
  <%= link_to encyclopedia_contact_path, :class => "btn searchdark" do %>
  Contact
  <% end %>
 </div>
</div>