<footer class="Footersign">
  
  <div class="FooterLinks" id="FooterLinks1">
    
    <span class="label" style="color: #d3d3d3">Beta 3.0</span>

    <a href="/encyclopedia/vision" class="link"><span>Encyclopedia</span></a>
    
    <span class="label" style="color: #d3d3d3; padding-left: 5%">©2016 Gabblin</span>

  </div>

</footer>