<footer class="Footer">
  
  <div class="FooterLinks" id="FooterLinks">
    
    <span class="label lighttext">Beta 3.0</span>

    <a href="/encyclopedia/vision" class="link"><span>Encyclopedia</span></a>
    
    <span class="label lighttext" style="padding-left: 5%">©2016 Gabblin</span>

  </div>

</footer>