<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="insufficientcoins">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f7f5f5">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
         </button>
         <h4 class="modal-title" style="color: rgba(0,0,0,.6);">Insufficient Coins!</h4>
       </div>
      <div class="modal-body" style="color: rgba(0,0,0,.6)">
       <div class="row" style="margin-top: 2%; text-align: center">
         <p>Oops! You don't have enough coins to complete this action. Come back again tomorrow!</p>
       </div>
      </div> 
    </div>
  </div>
</div>