 <div class="row">

   <div class="col-xs-12">
               
         <%= form_for(Reply.new, url: comment_replies_path(@comment), remote: true) do |f| %>
             
             <%= f.text_area :body, :placeholder => "start typing", :class => "mentiondescriptioninput" %>

             <div class="col-sm-3 col-xs-6">
              
              <%= f.submit "submit", :class => "postbtn replybtn", :style => "margin-left: -15px" %> 
          
              <div id="progressreplybtn">
                <button class="postbtn"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></button>
              </div>    

             </div>

         <% end %>

    </div>     

   </div>