<nav class="navbar navbar-light" style="background-color: transparent;">
  <a class="navbar-brand brand" id="gabblin2" href="/">Gabblin</a>
  <a class="navbar-brand brand" id="gabblin3" href="/">G</a>
  <div class="navbuttons">
  <a class="btn pull-xs-right joinbtn" id="home-btn" href="/join">Sign Up</a>
  </div>
</nav>  