<nav class="navbar navbar-light" style="background-color: transparent;">
  <a class="navbar-brand brand" id="gabblin" href="/">Gabblin</a>
  <a class="navbar-brand brand" id="gabblin1" href="/">G</a>
</nav>  