<div id="searchbuttons">
<div class="btn-group" role="group" style="margin-top: 3%">
	<%= link_to searchposts_path, :class => "btn searchdark" do %>
	posts
	<% end %>
	<%= link_to searchcommunities_path, :class => "btn searchlight" do %>
	communities
	<% end %>
</div>
</div>