   <% if @user.errors.any? %> 
    <div class="errorbox">
    	 <p>Oops! Pity we couldn't sign you up. Please rectify this error(s).</p> 
        <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>	
    </div>
   <% end %> 
