<!DOCTYPE html>
<html>
<head>
    <title>Insufficient Coins</title>

</head>


<body>

<%= render 'shared/navbar' %>

<div class="container-fluid">
  
  <div class="row" style="margin-top: 3%; text-align: center">
     <h4>You don't have sufficient coins to create a post! Please come back again tomorrow!</h4>
  </div>

</div>

</body>

</html>	