<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon href="Add Image">
    <title>Redirect</title>


    <%= stylesheet_link_tag "community-bundle", media: 'all' %>

<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->

<!-- [if lt IE9]>
    <script src="https://os.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
    </script><![endif]-->


</head>


<body class="homepage">


<%= render 'shared/communitymodal' %>
<%= render 'shared/navbar1' %>

<div class="container-fluid" style="text-align:center">
  <div class="row">
    <h2>Redirecting...</h2>
  </div>
</div>

</body>

</html>
