// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#forgotpassword
{
	color: #d3d3d3;
	margin-top: 2%;
}


#forgotpassword a:link
{
	color: #d3d3d3;  	
}

#forgotpassword a:hover
{
	color: #d3d3d3;  	
}


#forgotpassword a:visited
{
	color: #d3d3d3;  	
}