// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#forgotpassword
{
	color: black;
	margin-top: 2%;
}


#forgotpassword a:link
{
	color: black;  	
}

#forgotpassword a:hover
{
	color: black;  	
}


#forgotpassword a:visited
{
	color: black;  	
}

.fallinggabblins
{
	background: url(asset-path("signinbg.png"));
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (max-width: 767px) {

.hidetext
{
	display: none;
}

.formarea
{
	margin-top: 20%;
}

}